.idea/


*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.cache
.hypothesis/

# Flask stuff:
.webassets-cache

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
